@import url("components/reset.css");
@import url("components/variable.css");
@import url("components/login_box_btn.css");
@import url("components/status_bar.css");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@import url("cssElements/friends.css");
@import url("components/bottom_bar.css");
@import url("components/profile.css");
@import url("cssElements/chats.css");
@import url("cssElements/find.css");
@import url("cssElements/setting.css");
body {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  height: 80%;
  font-family: "Nanum Gothic", sans-serif;
}
#chating {
  background-color: azure;
  height: 11000vh;
  width: 100%;
}
.friends_bar_chat {
  position: fixed;
  display: flex;
  top: 5px;
  width: 90%;
  margin-left: 5%;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  background-color: azure;
}
.main_chat {
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 25%;
  justify-content: center;
}
.chat_main {
  padding-left: 20px;
}
.chat__timestamp p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
.status_bar_chat {
  background-color: azure;
  padding-bottom: 20px;
}
