@import url(reset.css);
@import url("variable.css");
@import url(welcome/login_box_btn.css);
@import url("welcome/status_bar.css");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
body {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  height: 80%;
  font-family: "Nanum Gothic", sans-serif;
}
.servecolor {
  color: rgba(0, 0, 0, 0.5);
}
.nav {
  background-color: rgba(0, 0, 0, 0.05);
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.nav__ul {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}
.friends_bar {
  display: flex;
  width: 90%;
  margin-left: 5%;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}
.friends_bar_main {
  font-size: 30px;
  font-weight: bold;
}
.friends_bar_icon i {
  margin-left: 10px;
}
.friends_display {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.05);
}
.friends_display i {
  color: rgba(0, 0, 0, 0.3);
  margin: 0px 10px;
}
.profile_lg {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  margin: 20px 0px 20px 5%;
}
.profile_lg img {
  border-radius: 28px;
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.profile_lg p {
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
}
.line {
  background-color: rgba(0, 0, 0, 0.05);
  width: 90%;
  margin-left: 5%;
  height: 2px;
}
.menu {
  display: flex;
  padding: 10px;
  margin: 0% 5%;
  justify-content: space-between;
}
.profile_m {
  position: relative;
  display: flex;
  width: 90%;
  height: 40px;
  margin: 5% 5%;
  align-items: center;
}
.profile_m img {
  height: 55px;
  width: 55px;
  object-fit: cover;
  border-radius: 20px;
}
.profile_m p {
  margin-left: 10px;
  font-size: 20px;
}
